# Data Audit 

Objective : The purpose of this notebook is to assess the quality, structure, and reliability
of the dataset before performing any exploratory analysis or modeling.

This audit focuses on:
- Data completeness
- Data consistency
- Target variable integrity
- Detection of potential data quality issues

## Data Loading

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Dataset overview

In [44]:
# Dataset shape
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")
print("="*60)
# Dataset structure and data types
df.info()

Number of rows: 7043
Number of columns: 21
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

## Duplicates rows

In [21]:
# Check for fully duplicated rows
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [22]:
# Check uniqueness of customerID
print("Unique customerIDs:", df["customerID"].nunique())
print("Total rows:", df.shape[0])

print("Duplicate customerIDs:", df["customerID"].duplicated().sum())

Unique customerIDs: 7043
Total rows: 7043
Duplicate customerIDs: 0

## Target variable Audit

In [23]:
# Raw counts
df["Churn"].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [24]:
# Normalized distribution
df["Churn"].value_counts(normalize=True)

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

## Missing Value Audit

In [25]:
# Check explicit missing values
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [26]:
# Detect empty strings in TotalCharges
(df["TotalCharges"].astype(str).str.strip() == "").sum()

11

## Numerical Feature Audit

In [36]:
# Numerical columns of interest
numerical_features = ["tenure", "MonthlyCharges"]

# Summary statistics
df[numerical_features].describe()

            tenure  MonthlyCharges
count  7043.000000     7043.000000
mean     32.371149       64.761692
std      24.559481       30.090047
min       0.000000       18.250000
25%       9.000000       35.500000
50%      29.000000       70.350000
75%      55.000000       89.850000
max      72.000000      118.750000

## Categorical Feature Audit

In [38]:
# Identify categorical columns
categorical_features = df.select_dtypes(include="object").columns

for col in categorical_features:
    print(f"\n{col}")
    print(df[col].value_counts())

customerID
customerID
7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: count, Length: 7043, dtype: int64

gender
gender
Male      3555
Female    3488
Name: count, dtype: int64

Partner
Partner
No     3641
Yes    3402
Name: count, dtype: int64

Dependents
Dependents
No     4933
Yes    2110
Name: count, dtype: int64

PhoneService
PhoneService
Yes    6361
No      682
Name: count, dtype: int64

MultipleLines
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

InternetService
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

OnlineSecurity
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

OnlineBackup
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

DeviceProtection
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

TechSupport
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

StreamingTV
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

StreamingMovies
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

Contract
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

PaperlessBilling
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64

PaymentMethod
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

TotalCharges
TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64

Churn
Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [39]:
# Number of unique values per categorical feature
for col in categorical_features:
    print(f"{col}: {df[col].nunique()} unique values")

customerID: 7043 unique values
gender: 2 unique values
Partner: 2 unique values
Dependents: 2 unique values
PhoneService: 2 unique values
MultipleLines: 3 unique values
InternetService: 3 unique values
OnlineSecurity: 3 unique values
OnlineBackup: 3 unique values
DeviceProtection: 3 unique values
TechSupport: 3 unique values
StreamingTV: 3 unique values
StreamingMovies: 3 unique values
Contract: 3 unique values
PaperlessBilling: 2 unique values
PaymentMethod: 4 unique values
TotalCharges: 6531 unique values
Churn: 2 unique values

In [40]:
# Create a comprehensive audit summary
audit_summary = pd.DataFrame({
    "dtype": df.dtypes,
    "missing_count": df.isna().sum(),
    "missing_pct": (df.isna().sum() / len(df) * 100).round(2),
    "unique_values": df.nunique()
})

audit_summary

                    dtype  missing_count  missing_pct  unique_values
customerID         object              0          0.0           7043
gender             object              0          0.0              2
SeniorCitizen       int64              0          0.0              2
Partner            object              0          0.0              2
Dependents         object              0          0.0              2
tenure              int64              0          0.0             73
PhoneService       object              0          0.0              2
MultipleLines      object              0          0.0              3
InternetService    object              0          0.0              3
OnlineSecurity     object              0          0.0              3
OnlineBackup       object              0          0.0              3
DeviceProtection   object              0          0.0              3
TechSupport        object              0          0.0              3
StreamingTV        object              0          0.0              3
StreamingMovies    object              0          0.0              3
Contract           object              0          0.0              3
PaperlessBilling   object              0          0.0              2
PaymentMethod      object              0          0.0              4
MonthlyCharges    float64              0          0.0           1585
TotalCharges       object              0          0.0           6531
Churn              object              0          0.0              2

## Data Audit Conclusion

The dataset is structurally sound and suitable for further analysis.

Key findings:
- No duplicated rows or customer IDs were detected.
- No explicit missing values (NaN) are present in the dataset.
- 11 empty strings were found in `TotalCharges`, representing hidden missing values.
- These cases correspond to customers with `tenure = 0` (new customers).
- The column `TotalCharges` is incorrectly typed as `object` and requires conversion.
- Categorical features have low cardinality and consistent values.

No data integrity issues were identified that would prevent modeling.